*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Courier New", monospace;
}

.admin-container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 80px;          
  background-color: #ffe483;
  color: black;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.admin-profile {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 18px;
  margin-bottom: 30px;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 50px;          
}

.menu a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  color: black;
  text-decoration: none;
  border-radius: 12px;
  transition: all 0.2s;
}

.menu a i {
  font-size: 24px;       /* icon size */
}

.menu a:hover,
.menu a.active {
  background-color: #d9bd7b;
  color: rgb(16, 15, 15);
}

/* Main content */
.content {
  flex: 1;
  padding: 30px;
  background-color: #f4f6f8;
}

.dashboard-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.card {
  background-color: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  text-align: center;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0,0,0,0.15);
}

.card i {
  color: #3498db; /* icon color */
  margin-bottom: 10px;
}

.card h3 {
  margin: 10px 0 5px;
}

.card p {
  font-size: 0.9rem;
  color: #555;
}