
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    background-color: rgb(255, 239, 217);
    outline: 1px solid #000000;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}


#root{
    background-color: rgb(255, 239, 217);
    outline: 2px solid #000000;
    height: 95vh;
    width: 98%;
    display: flex;
    
}