* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: rgb(255, 239, 217);
  outline: 1px solid #000000;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

#root {
  background-color: rgb(255, 239, 217);
  outline: 2px solid #000000;
  height: 95vh;
  width: 98%;
  border-radius: 8px;
  display: flex;
  box-shadow: 8px 5px 0 #000;

  /* --color1: rgb(37, 225, 210);
  --color2: rgb(250, 255, 178);
  background-color: var(--color1);
  background-image: linear-gradient(45deg, var(--color2) 25%, transparent 25%, transparent 75%, var(--color2) 75%, var(--color2)), 
                    linear-gradient(45deg, var(--color2) 25%, var(--color1) 25%, var(--color1) 75%, var(--color2) 75%, var(--color2));
  background-size: 60px 60px;
  background-position: 0 0, 30px 30px; */
}