@import url("https://api.fontshare.com/css?f%5B%5D=outfit@400,700&serif=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: rgb(255, 239, 217);
  outline: 1px solid #000000;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

#root {
  background-color: rgb(255, 239, 217);
  outline: 2px solid #000000;
  height: 95vh;
  width: 98%;
  border-radius: 8px;
  display: flex;
  box-shadow: 8px 5px 0 #000;

  /* --color1: rgb(37, 225, 210);
  --color2: rgb(250, 255, 178);
  background-color: var(--color1);
  background-image: linear-gradient(45deg, var(--color2) 25%, transparent 25%, transparent 75%, var(--color2) 75%, var(--color2)), 
                    linear-gradient(45deg, var(--color2) 25%, var(--color1) 25%, var(--color1) 75%, var(--color2) 75%, var(--color2));
  background-size: 60px 60px;
  background-position: 0 0, 30px 30px; */
}

.input {
  width: 100%;
  max-width: 400px;
  height: 40px;
  padding: 12px;
  margin: 1%;

  font-size: 18px;
  font-family: "Courier New", monospace;
  color: #000;
  background-color: rgb(255, 239, 217);
  border: 2px solid #000;
  border-radius: 0;
  outline: none;
  transition: all 0.3s ease;
}

.input::placeholder {
  color: #888;
}

.input:hover {
  transform: translate(-4px, -4px);
  box-shadow: 4px 4px 0 #000;
}

.input-container {
  background-color: rgb(255, 221, 0);
  padding-left: 4%;
  height: 10%;
  width: 99%;
  margin: 0.7%;
  outline: 2px solid #000000;
}

i {
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.book-details-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.book-details-section {
  display: flex;
  height: 80%;
  width: 100%;
  margin-right: 5%;
  /* gap: 8%; */
}

.book-image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2%;
  margin: 0% 5%;
}

.book-image {
  width: 250px;
  height: auto;
  margin: 0% 45%;
  box-shadow: 4px 4px 0 #000;
  border: 2px solid #000;
}

.book-details-header {
  display: flex;
  align-items: center;
  padding: 2% 3%;
  height: 1%;
  width: 100%;
  font-size: 24px;
  font-family: "Courier New", monospace;
}

.back-text {
  margin-left: 8 px;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-family: "Courier New", monospace;
}

.book-info-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-family: "Courier New", monospace;
  font-size: 18px;
  width: 70%;
  height: 95%;
  width: 70%;
  padding: 20px;
  background: #6189e1;
  border: 6px solid #000;
  box-shadow: 12px 12px 0 #000;
  transition: transform 0.3s, box-shadow 0.3s;
  /* outline: 2px solid #000000; */
    overflow-y: auto;

}

.book-title {
  font-size: 32px;
  font-weight: 900;
  color: #000;
  text-transform: uppercase;
  margin-bottom: 15px;
  overflow: hidden;
  text-align: left;
  
}

.book-author {
  font-size: 15px;
  text-align: left;
  font-family: "Courier New", monospace;
  margin: 0;
}

.book-description {
  font-size: 12px;
  text-align: left;
  font-family: "IBM Plex Mono", monospace;
  margin: 5px;
  overflow-wrap: break-word;
}

.book-info-container::-webkit-scrollbar{
  width: 8px;
}
.add-to-cart-btn {
  height: fit-content;
  padding: 8px 12px;
  font-size: 16px;
  font-family: "Courier New", monospace;
  text-transform: uppercase;
  cursor: pointer;
  border: 2px solid #000;
  background-color: rgb(121, 207, 130);
  transition: all 0.3s ease;
  font-weight: bolder;
}

.add-to-cart-btn:hover {
  background-color: rgb(0, 190, 19);
  color: rgb(0, 0, 0);
  transform: translate(-4px, -4px);
  box-shadow: 4px 4px 0 #000;
}

.fav {
  width: fit-content;
  height: fit-content;
  padding: 8px 12px;
  font-size: 11px;
  font-family: "Courier New", monospace;
  text-transform: uppercase;
  cursor: pointer;
  border: 2px solid #000;
  background-color: rgb(207, 121, 121);
  transition: all 0.3s ease;
  font-weight: bolder;
}

.fav:hover {
  background-color: rgb(212, 96, 96);
  color: rgb(0, 0, 0);
  transform: translate(-4px, -4px);
  box-shadow: 4px 4px 0 #000;
}

.price {
  font-size: 16px;
  width: fit-content;
  height: fit-content;
  font-family: "Courier New", monospace;
  font-weight: bolder;
  outline: 2px solid #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 9px 12px;
  margin-left: 5%;
  background-color: rgb(255, 221, 0);
    transition: all 0.3s ease;
  cursor: auto;
}

.price:hover{
    color: rgb(0, 0, 0);
  transform: translate(-4px, -4px);
  box-shadow: 4px 4px 0 #000;
}

.book-data {
  font-family: "IBM Plex Mono", monospace;
  text-transform: uppercase;
  font-size: 12px;
  margin-left: 5px;
}


#back-arrow{
  width: fit-content;
  height: fit-content;
  padding: 8px 12px;
  font-size: 22px;
  text-transform: uppercase;
  cursor: pointer;
  border: 2px solid #000;
  background-color: rgb(121, 207, 130);
  transition: all 0.3s ease;
  font-weight: bolder;

}

#back-arrow:hover{
  background-color: rgb(0, 190, 19);
  color: rgb(0, 0, 0);
  transform: translate(-4px, -4px);
  box-shadow: 4px 4px 0 #000;
}

